In [4]:
import pandas as pd
import openpyxl

In [5]:
df = pd.read_excel("T-Shirt.HD - Copy.xlsx", sheet_name="Trial-Run")

In [6]:
df.Layflat

0      53.750
1      56.500
2      56.500
3      57.500
4      57.250
        ...
703    12.625
704    12.625
705    12.625
706    12.750
707    12.750
Name: Layflat, Length: 708, dtype: float64

In [47]:
try:
    df.Layflat = df.Layflat.astype(float)
except:
    df.Layflat = pd.to_numeric(df.Layflat, errors='coerce').fillna(0).astype(float)
df.Layflat

0      57.2500
1      12.6250
2      12.1875
3      57.8750
4      57.3750
        ...
703    57.2500
704    57.5000
705    54.5000
706    54.2500
707    54.2500
Name: Layflat, Length: 708, dtype: float64

In [51]:
df_round = df.Layflat.round(3)
df_round

0      57.250
1      12.625
2      12.188
3      57.875
4      57.375
        ...
703    57.250
704    57.500
705    54.500
706    54.250
707    54.250
Name: Layflat, Length: 708, dtype: float64

In [58]:
df.to_excel('update_layflat.xlsx')
#create new xlsx file with plain style

In [36]:
wb = openpyxl.load_workbook("T-Shirt.HD - Copy.xlsx")
sheet = wb['Trial-Run']
print("max row before", sheet.max_row)
column_list = []
for i in sheet[1]:
    column_list.append(i.value)

max row before 709

In [59]:
df_round.max()

69.938

In [3]:
lf_min =  5
lf_max = 30

In [5]:
df["Layflat"]

0      57  3/16
1      57  3/16
2        57.125
3            57
4         57.25
         ...
703     54.0625
704       12.75
705      12.625
706     57.0625
707       57.25
Name: Layflat, Length: 708, dtype: object

In [1]:
#print error value 
def fraction_to_decimal(fraction_str):
    try:
        if type(fraction_str)==str:
            _ = fraction_str.split("  ")
            whole, frac = _[0], _[1]
            frac_num, frac_denum = frac.split("/")
            return int(whole) + int(frac_num)/int(frac_denum)
        elif type(fraction_str) == float or type(fraction_str) == int:
            return fraction_str
        else:
            return 0
    except ValueError:
        print(fraction_str)
# my_string = "This    is a    string with      multiple   spaces"
# my_list = [word.strip() for word in my_string.split(" ") if word.strip()]
#take out all spaces

In [34]:
layflat = df["Layflat"].apply(fraction_to_decimal)
df["Layflat"] = df["Layflat"].apply(fraction_to_decimal)

In [25]:
layflat

0      57.1875
1      57.1875
2      57.1250
3      57.0000
4      57.2500
        ...
703    54.0625
704    12.7500
705    12.6250
706    57.0625
707    57.2500
Name: Layflat, Length: 708, dtype: float64

In [29]:
mask_lf = layflat > 20
mask_lf

0       True
1       True
2       True
3       True
4       True
       ...
703     True
704    False
705    False
706     True
707     True
Name: Layflat, Length: 708, dtype: bool

In [30]:
filte_lf = df.Layflat[mask_lf]

In [31]:
filte_lf

0      57  3/16
1      57  3/16
2        57.125
3            57
4         57.25
         ...
700     53.9375
701     57.0625
703     54.0625
706     57.0625
707       57.25
Name: Layflat, Length: 659, dtype: object

In [35]:
filte_df = df.Layflat[mask_lf]
filte_df

0      57.1875
1      57.1875
2      57.1250
3      57.0000
4      57.2500
        ...
700    53.9375
701    57.0625
703    54.0625
706    57.0625
707    57.2500
Name: Layflat, Length: 659, dtype: float64

In [36]:
df.Layflat

0      57.1875
1      57.1875
2      57.1250
3      57.0000
4      57.2500
        ...
703    54.0625
704    12.7500
705    12.6250
706    57.0625
707    57.2500
Name: Layflat, Length: 708, dtype: float64

In [37]:
df.to_excel('update_layflat.xlsx')

In [39]:
print(type(df.Layflat))

<class 'pandas.core.series.Series'>

In [2]:
import openpyxl
wb = openpyxl.load_workbook("T-Shirt.HD - Copy.xlsx")
sheet = wb['Trial-Run']

In [76]:
sheet[709][15].value

57.25

In [54]:
df_lf_list = df.Layflat.tolist()
for index, value in enumerate(df_lf_list):
    sheet.cell(row=index+1, column = 15)
wb.save('update_layflat.xlsx')

In [3]:
for i in range(sheet.max_row-1):
    sheet[i+2][15].value = fraction_to_decimal(sheet[i+2][15].value)
wb.save('T-Shirt.HD - Copy.xlsx')
#works